{% import 'macros/form.html' as form %}

{% extends "page.html" %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Vocabularies'), named_route='vocabulary.index' %}</li>
  <li class="active">{% link_for vocab.name, named_route='vocabulary.read', id=vocab.name %}</li>
  <li class="active">{% link_for _('Edit'), named_route='vocabulary.edit', id=vocab.name %}</li>
{% endblock %}


{% block primary_content_inner %}
  <form  method="post" data-module="basic-form">
    <div class="form-group">
      {{ form.input('vocabulary', label =_('Vocabulary'), value=vocab.name)}}
    </div>
    
    <div class="form-actions">
      <button class="btn btn-danger pull-left" name="delete" value="Delete"> {{ _('Delete') }} </button>
      <button type="submit" class="btn btn-primary" name="save">{{ _('save') }}</button>
    </div>
  </form>
{% endblock %}