{% import 'macros/form.html' as form %}

{% extends "page.html" %}
{% block subtitle %}{{ _('Create Vocabulary') }}{% endblock %}
{% block breadcrumb_content %}
  <li class="active">{% link_for _('Categories'), named_route='vocabulary.index' %}</li>
  <li class="active">{% link_for _('Create Category'), named_route='vocabulary.new' %}</li>
{% endblock %}

{% block page_header %}
<h1 class="module-content page-header">{{ _('Create Category') }}</h1>
{% endblock %}

{% block primary_content_inner %}
    {% set flash_messages = h.flash.pop_messages() %}
    {{ h.literal(message) }}
  <form class="dataset-form" method="post" data-module="basic-form">
    <div class="form-group">
      {{ form.input('vocabulary', label =_('EN Name'))}}
    </div>
    <div class="form-group">
      <label>AR NAME</label>
      <input type="text" name="vocabulary-ar" class="form-control" dir="rtl">
    </div>

    <div class="form-group" >
      <h1 class="module-content page-header">{{ _('Create Tags') }}</h1>
      <div class="form-group" id="tags">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label >EN Name</label>
          </div>
          <div class="form-group col-md-6">
            <label >AR Name</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="text" name="en" class="form-control" >
          </div>
          <div class="form-group col-md-6">
            <input type="text" name="ar" class="form-control" dir="rtl">
          </div>
        </div>
      </div>
      <div style="margin-left: 15px;">
        <button type="button" class="btn btn-default pull-left" id="adtag">{{ _('add tags') }}</button>
        <button type="button" class="btn btn-danger" style="margin-left: 8%;visibility:hidden" id="rtag">{{ _('remove tags') }}</button>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary pull-right" name="save">{{ _('save') }}</button>
    </div>
  </form>
{% endblock %}
{% block secondary_content %}
  {% snippet "vocabulary/snippets/helper.html" %}
{% endblock %}
{% block scripts %}
  {% asset 'vocab/addtags_js' %}
{% endblock %}


